---
import Layout from '@layouts/Layout.astro';
import { getCollection, getEntry } from 'astro:content';
import { CodeFrame } from '@components/CodeFrame';
import Card from '../components/Card.astro';

const data = (await getCollection('sketches')).sort();
---

<Layout title='Welcome to Astro.'>
  <main>
    <section>
      <h2 class='font-medium'>Sketches</h2>
      <div class='grid grid-cols-2 gap-8 gap-y-16'>
        {
          data.map((d) => (
            <Card href={`/sketches/${d.data.name}`} title={d.data.name}>
              <CodeFrame jsCode={d.data.sketch} client:load />
            </Card>
          ))
        }
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
