---
// import data from '../../../content/sketches.json';
import { getCollection } from 'astro:content';
import Layout from '../../../layouts/Layout.astro';
import { CodeFrame } from '@/src/components/CodeFrame';
import { getEntry } from 'astro:content';

import CodeBlock from '@/src/components/CodeBlock.astro';
import { render } from 'astro:content';

export async function getStaticPaths() {
  const data = await getCollection('postSketches');

  return data.map((entry) => ({ params: { id: entry.id }, props: { entry } }));
}

const { id } = Astro.params;
const { entry } = Astro.props;
const postData = entry;
const sketchData = await getEntry('sketches', id);

if (!sketchData || !postData) return Astro.redirect('/');
console.log({ lol: postData });
const { Content } = await render(postData);
---

<Layout title={id}>
  <div class='md:w-9/12 w-full m-auto flex flex-col gap-8 p-6'>
    <section class='h-2/4'>
      <h1 class='font-bold text-2xl mb-4'>
        <a href='/'>Sketches {'> '}</a>
        {postData?.data.title || id}
      </h1>
      <div class='flex-1'>
        <CodeFrame jsCode={sketchData.data.sketch} client:load />
      </div>
      <Content />
      <section>
        <h2 class='font-bold text-2xl mb-4'>Code</h2>
        <CodeBlock>{sketchData.data.sketch}</CodeBlock>
      </section>
    </section>
  </div>
</Layout>
