---
// import data from '../../../content/sketches.json';
import { getCollection } from 'astro:content';
import Layout from '../../../layouts/Layout.astro';
import { CodeFrame } from '@/src/components/CodeFrame';
import CodeContent from '@/src/components/CodeContent.astro';
import { getEntry } from 'astro:content';
import { Code } from 'astro:components';
import { h } from 'hastscript';

export async function getStaticPaths() {
  const data = await getCollection('sketches');

  return data.map((item) => ({ params: { id: item.id } }));
}

const { id } = Astro.params;

const postData = await getEntry('postSketches', id);
const sketchData = await getEntry('sketches', id);

if (!sketchData) return Astro.redirect('/');
---

<Layout title={id}>
  <div class='md:w-9/12 w-full m-auto flex flex-col gap-8 py-4'>
    <section class='h-2/4'>
      <h1 class='font-bold text-2xl mb-4'>
        <a href='/'>Sketches {'> '}</a>
        {postData?.data.title || id}
      </h1>

      <div class='flex-1'>
        <CodeFrame jsCode={sketchData.data.sketch} client:load />
      </div>
    </section>
    <section>
      <h2 class='font-bold text-2xl mb-4'>Code</h2>
      <Code
        code={sketchData.data.sketch}
        lang='js'
        meta='title=ettet.js'
        transformers={[
          {
            name: 'title',
            root(node) {
              const preHeaderDiv = node.children[0];

              const titleSpan = h(
                'div',
                {
                  class:
                    'border-white border-t-2 p-2 inline-block bg-[#24292e] font-medium',
                },
                'sketch.js'
              );

              const titleDiv = h(
                'div',
                {
                  class: 'bg-[#13151a]  w-100 min-w-full',
                },
                titleSpan
              );

              node.children = [titleDiv, preHeaderDiv];
            },

            pre(node) {
              this.addClassToHast(node, 'p-2');
            },
          },
        ]}
      />
    </section>
  </div>
</Layout>
